#comp_Update {
	display: flex;
	background-color: rgb(219, 248, 255) !important;
	font-size: var(--fonsize);
	.sidebar {
		position: relative;
		height: 100%;
		.container {
			position: fixed;
			top: var(--webheader_height);
			bottom: 0;
			width: inherit;
			background-color: rgb(255, 255, 255);
			box-shadow: var(--boxShadow);
			z-index: 2;
			overflow-y: scroll;
			overflow-x: hidden;
			padding: 0;

			font-size: 1em;

			.hotbar {
				position: relative;
				width: inherit;
				display: flex;
				background-color: rgb(255, 255, 255);
				font-size: 1em;
				border-bottom: 0.1em solid black;
				#searchForm {
					width: 80%;
					svg {
						margin: 0 0.5em;
					}
				}

				.exitBtn {
					transform: rotate(180deg);
					border-radius: 0 0.5vw 0 0;
					width: 20%;
					font-size: 1.2em;
				}
			}
			.body {
				font-size: 1em;
				padding: 0.25em 0.5em;
				.content-element {
					display: flex;
					flex-direction: column;

					.element {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0.5% 2%;
						background-color: rgb(60, 135, 255);

						color: var(--textcolor2);
						transition: opacity 0.2s, transform 0.2s;

						.element-title {
							flex: 8;
						}

						.element-icon {
							flex: 2;
						}

						&:hover{
							opacity: 0.7;
						}

						&:active{
							opacity: 1;
							transform: scale(0.95);
						}
					}

					.element + .element{
						margin-top: 2%;
					}
				}
			}
		}
	}
	.sidebarActionBtn {
		background-color: rgb(255, 153, 0);
		color: var(--textcolor2);
	}
	.openBtn {
		position: fixed;
		padding: 0.5% 1%;
		top: var(--webheader_height);
		z-index: 1;
		font-size: 1em;
		border-radius: 0 0 0.5vw 0;
		box-shadow: var(--boxShadow);

		svg + svg {
			margin-left: 0.6em;
		}
	}

	.bodyContainer {
		position: relative;
		width: calc(100% - 0px);
		display: flex;
		flex-direction: column;
		align-items: center;
		
		//CSS tiếp tục của form-container Body/Child/Form/.scss
	}
}
