#comp_Rank {
	position: relative;
	display: flex;
	justify-content: center;
	font-size: var(--fontsize);

	$obj_backgroundColor: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 230));
	$rankContainer_backgroundColor: rgb(255, 255, 255);
	$searchForm_backgroundColor: rgb(255, 255, 255);
	$objTop_backgroundColor: rgb(244, 255, 237);
	$objTop-1_backgroundColor: rgb(255, 89, 52);
	$objTop-2_backgroundColor: rgb(56, 142, 255);
	$objTop-3_backgroundColor: rgb(89, 255, 52);
	$objTop-1_color: rgb(255, 255, 40);
	$objTop-2_color: rgb(255, 255, 255);
	$objTop-3_color: rgb(255, 170, 23);

	#UNDERICON {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		img {
			width: 35%;
		}
	}

	#rankContainer {
		position: relative;
		width: 80%;
		background-color: $rankContainer_backgroundColor;
		box-shadow: var(--boxShadow);
		font-size: 1em;

		#searchObj {
			display: flex;
			justify-content: center;

			font-size: 1em;
			margin-top: 1em;

			#searchForm {
				width: 30%;
				background-color: $searchForm_backgroundColor;
				border: 0.1vw solid black;
				border-radius: 0.2vw;
			}


			.searchField {
				font-size: 1em;
			}
		}

		#rankTable {
			background-color: transparent;
			padding: 0.5% 2%;
			margin-top: 2em;
			font-size: 1em;
			height: 120vh;
			border-top: 0.3vw solid black;

			#title {
				text-align: center;
				font-size: 1.4em;
				margin-bottom: 1em;
			}

			#table {
				position: relative;
				height: 100%;
				ul {
					position: relative;
					font-size: 1em;
					list-style: none;

					.obj-rank {
						position: relative;
						height: calc(var(--fontsize) * 5);
						display: flex;
						box-shadow: var(--boxShadow);
						background-image: $obj_backgroundColor;
						border-radius: 0.2vw;

						font-size: 0.8em;

						.box-top {
							position: relative;
							width: 10%;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 2em;
							font-weight: 700;
							background-color: $objTop_backgroundColor;
							border-right: 0.2vw solid black;

							border-radius: 0.2vw 0 0 0.2vw;
						}

						.box-top.top1 {
							background-color: $objTop-1_backgroundColor;
							color: $objTop-1_color;
						}
						.box-top.top2 {
							background-color: $objTop-2_backgroundColor;
							color: $objTop-2_color;
						}
						.box-top.top3 {
							background-color: $objTop-3_backgroundColor;
							color: $objTop-3_color;
						}

						.box-img {
							position: relative;
							width: 10%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-left: 1em;

							background-color: transparent;

							img {
								width: auto;
								height: 100%;
								object-fit: cover;
							}
						}

						.box-text {
							position: relative;
							width: 80%;
							padding: 0.5% 2%;
							border-radius: 0 0.2vw 0.2vw 0;

							display: flex;
							align-items: center;

							.box-text-left {
								position: relative;
								width: 50%;
								display: flex;
								flex-direction: column;
							}

							.box-text-right {
								.objScore {
									font-size: 1.2em;
									font-weight: 600;
									width: 50%;

									span {
										font-weight: 400;
									}
								}
							}

							* {
								text-wrap: nowrap;
								text-overflow: ellipsis;
								overflow-x: hidden;
							}

							.objName {
								font-size: 1.3em;
							}

							.objRole {
								font-size: 1em;
								color: var(--mygray);
							}

							.objProp {
								font-size: 1em;
							}
						}
					}

					.obj-rank + .obj-rank {
						margin-top: 1.5em;
					}
				}
			}
		}
	}
}
