#comp_Home{
    $backgroundimage_width: 2048px;
    $backgroundimage_height: 806px;
    $backgroundimage_color: linear-gradient(90deg, rgb(14, 22, 82), rgba(255, 255, 255, 0));

    $container-child_boxShadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.2);
    $top1_color: rgb(255, 237, 74);
    $top2_color: rgb(245, 245, 245);
    $top3_color: rgb(255, 237, 74);
    font-size: var(--fontsize);
    .header{
        position: relative;
        width: 100vw;
        height: calc((100vw * $backgroundimage_height) / $backgroundimage_width);
        background-image: $backgroundimage_color,
        url("../../../pic/HVN_pic1.jpg");
        background-size: 100vw;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: left;

        font-size: 1.25em;
        .title{
            margin-left: calc(var(--fontsize) * 10);
            color: var(--textcolor2);

            span{

            }
            h3{
                position: relative;
                width: max-content;

                margin: calc(var(--fontsize)) 0;
                background-color: rgb(14, 22, 82);
                padding: 1% 4%;
                font-size: 2em;
                font-family: "Sedan SC", serif !important;
            }
        }
    }

    .body{
        .bodyContainer{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 1% 2%;
            font-size: 1em;

            .container-child{
                position: relative;
                width: 30%;
                height: 30vw;
                display: grid;
                grid-template-rows: 25% 75%;

                margin: 1% calc(10%/6);
                background-color: rgb(255, 255, 255);
                box-shadow: $container-child_boxShadow;
                font-size: 1em;

                .child__header{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 2%;

                    background-color: rgb(75, 105, 190);
                    font-size: 1em;
                    color: var(--textcolor2);
                    
                    svg{
                        font-size: 3em;
                    }

                    svg.rankIcon{
                        color: rgb(255, 237, 74);
                    }

                    h3{
                        width: 100%;
                        font-size: 1.5em;
                        margin-top: 2%;
                        background-color: rgba(130, 180, 255, 0.2);
                        text-align: center;
                    }
                }

                .child__body{
                    display: flex;
                    justify-content: center;
                    font-size: 1.25em;
                    padding: 2% 5%; 
                    background-color: rgb(250, 250, 255, 0.5);

                    ul{
                        text-align: center;
                        width: 100%;

                        li{
                            margin-top: calc(var(--fontsize)/1.2);
                        }

                        li.top{
                            background-color: red;
                            span{
                                padding: 0 calc(var(--fontsize) / 1.2);
                            }
                        }

                        li.top1{
                            svg{
                                color: $top1_color;
                            }
                        }

                        li.top2{
                            svg{
                                color: $top2_color;
                            }
                        }

                        li.top3{
                            svg{
                                color: $top3_color;
                            }
                        }

                    }
                }

                ul{
                    list-style: none;
                }
            }
        }
    }
}