@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

button,
a.btn {
	transition: opacity 0.2s, transform 0.1s;
}

button:hover,
a.btn:hover {
	cursor: pointer;
	opacity: 0.8;
	transform: scale(1.01);
}

button:active,
a.btn:active {
	opacity: 1;
	transform: scale(0.99);
}

a {
	text-decoration: none;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(120, 120, 120);
	background-clip: content-box;
	&:hover {
		cursor: pointer;
		background-color: #a2a2a2 !important;
	}
}

*::-webkit-scrollbar-track {
	background-color: rgb(235, 235, 235);
}

.scrollY {
	overflow-y: auto;
}
.scrollX {
	overflow-x: auto;
}
.paddingBottom {
	padding-bottom: 30% !important;
}

.scrollY::-webkit-scrollbar {
	width: calc(var(--fontsize) * 0.4);
}

.scrollY::-webkit-scrollbar-thumb {
	border-radius: 0.2vw;
	border: calc(var(--fontsize) * 0.08) solid transparent;
}

.scrollY-hidden::-webkit-scrollbar {
	width: 0;
}

.scrollX::-webkit-scrollbar {
	height: calc(var(--fontsize) * 0.35);
}

.scrollX::-webkit-scrollbar-thumb {
	border-radius: 0.2vw;
	border: calc(var(--fontsize) * 0.08) solid transparent;
}

.scrollX-hidden::-webkit-scrollbar {
	height: 0;
}

.HIDE_SCHOOL_ICON {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 0;
	img {
		width: 70%;
		height: auto;
		object-fit: cover;
		opacity: 0.05;
	}
}

.searchField {
	position: relative;
	height: 2em;
	min-width: 5vw;
	max-width: 10vw;
	width: max-content;
	padding: 0 calc(var(--fontsize) * 0.5);
	color: var(--textcolor2);
	background-color: blue;
	margin-left: 1em;
	text-align: center;
	text-wrap: nowrap;
	border-radius: 0.2vw;

	overflow-x: hidden;
	text-overflow: ellipsis;
}

.searchField:hover {
	cursor: pointer;
}

div[data-tippy-root] {
	z-index: 9997 !important;
}

.selectField-container {
	position: relative;
	min-width: 6vw;
	max-width: 10vw;
	width: max-content;
	height: max-content;
	max-height: 15vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: var(--boxShadow);
	border: 0.02vw solid black;
	background-color: white;
	padding: 0.5vw 0.5vw;
	z-index: 1;
	overflow-x: hidden;
	text-overflow: ellipsis;

	span {
		position: relative;
		width: 100%;
		text-align: center;
		color: var(--textcolor1);
		padding: 0.2em 0.5vw;
	}

	span.element:hover {
		cursor: pointer;
		background-color: rgb(220, 220, 220, 0.4);
	}
}

.selectR {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: "";
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: ""; /*Removes default arrow from firefox*/
}

.input_component {
	position: relative;
	display: flex;
	align-items: center;
	background-color: transparent;
	width: 80%;
	font-size: 1em;

	input {
		font-size: 1em;
		width: 90%;
		background-color: transparent;
		padding: 0.2em 0.25em;
		padding-right: 0;
	}
	svg {
		font-size: 1.1em;
		width: 10%;
		background-color: transparent;
		transition: transform 0.2s, opacity 0.2s;
	}
	svg:hover {
		cursor: pointer;
		transform: scale(1.1);
		opacity: 0.9;
	}
	svg:active {
		transform: scale(0.95);
		opacity: 0.7;
	}
}

.web_Component{
	min-height: 100vh;
	background-color: rgb(255, 255, 255) !important;
}